/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Define variáveis para cores e tamanhos de fonte */
:root {
  --cor-primaria: #30475E;
  --cor-secundaria: #F5F7F8;
  --cor-fundo: #DDDDDD;
  --cor-texto-principal: #252231;
  --cor-texto-secundario: #45474B;
  --tamanho-fonte-titulo: 2.5rem;
  --tamanho-fonte-corpo: 1rem;
}

/* Estilos gerais do corpo da página */
body {
  /* Tipografia */
  font-family: "Chakra Petch", sans-serif;
  font-size: var(--tamanho-fonte-corpo); 
  color: var(--cor-texto-principal);

  /* Fundo */
  background-color: var(--cor-fundo);

  /* Layout */
  display: flex;
  flex-direction: column;
  place-items: center; 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Estilos do título principal */
h1 {
  /* Tipografia */
  font-family: "Chakra Petch", sans-serif; /* Mantém a fonte principal */
  font-size: var(--tamanho-fonte-titulo);
  color: var(--cor-texto-principal);
  text-align: center;
  letter-spacing: 0.4rem;
 
}

/* Estilos das seções da página */
section {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Espaçamento */
  margin-bottom: 3rem;
}

/* Estilos dos inputs dentro das seções */
section input {
  /* Dimensões */
  width: 30rem;
  padding: 1rem;

  /* Tipografia */
  font-size: var(--tamanho-fonte-corpo);
  color: var(--cor-texto-secundario);

  /* Borda */
  border: none;
  border-radius: 1.5rem;

  /* Espaçamento */
  margin-bottom: 1rem;

  /* Box Model */
  box-sizing: border-box;
}

/* Estilos dos botões dentro das seções */
section button {
  /* Tipografia */
  font-size: var(--tamanho-fonte-corpo);
  color: #F5F7F8;

  /* Fundo */
  background-color: var(--cor-primaria);

  /* Cursor */
  cursor: pointer;

  /* Borda */
  border: none;
  border-radius: 1.5rem;

  /* Espaçamento */
  padding: 0.8rem 1.2rem;
}

/* Estilos da caixa de resultados da pesquisa */
.resultados-pesquisa {
  /* Dimensões */
  width: min(60rem, 90%); /* Largura máxima com responsividade */
  max-height: 46vh; 

  /* Layout */
  overflow-y: auto;

  /* Espaçamento */
  margin-top: 1rem;
  padding: 1rem;

  /* Borda */
  border-radius: 0.6rem;
}

/* Estilos de cada item de resultado */
.item-resultado {
  /* Fundo */
  background: #FFFFFF;

  /* Borda */
  border-radius: 0.6rem;

  /* Sombra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Espaçamento */
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Estilos dos títulos dentro dos itens de resultado */
.item-resultado h2 {
  /* Tipografia */
  font-size: 1.5rem;
  color: #222831;

  /* Espaçamento */
  margin-bottom: 0.5rem; /* Adiciona espaço abaixo do título */
}

/* Estilos dos links dentro dos itens de resultado */
.item-resultado a {
  /* Tipografia */
  text-decoration: none;
  color: var(--cor-primaria);
}

/* Estilos dos links quando são passados o mouse sobre */
.item-resultado a:hover {
  text-decoration: underline;
}

/* Estilos da descrição meta dentro dos itens de resultado */
.descricao-meta {
  /* Tipografia */
  color: var(--cor-texto-secundario);

  /* Espaçamento */
  margin: 0.5rem 0;
}

/* Estilos do rodapé da página */
footer {
  /* Posicionamento */
  position: fixed; /* Fixa o rodapé na parte inferior da página */
  bottom: _0;
  left: 0;

  /* Dimensões */
  width: 100%;

  /* Tipografia */
  font-size: var(--tamanho-fonte-corpo);
  color: var(--cor-texto-secundario);
  text-align: center;

  /* Fundo */
  background-color: var(--cor-secundaria);

  /* Espaçamento */
  padding: 0.5rem 0; /* Adiciona espaçamento interno superior e inferior */
}
